h1 {
  font-size: 40px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-bottom: 30px;
}

.dog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  padding: 20px 20px;
  border: 2px solid gray;
  border-radius: 20px;
}

.img-container {
  max-width: 300px;
}

.emoji-container {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
  border-radius: 15px;
}

.like-button {
  padding: 10px;
  background-color: green;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dislike-button {
  padding: 10px;
  background-color: red;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dislike-button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.like-button:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.container-counters {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.all-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.display-none {
  display: none;
}

.button-selected {
  background-color: aqua;
}
