* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pixelify Sans", serif;
  background-color: #f6bd60;
}

/* Sections */
.menu-container {
  background-color: #f7ede2;
  padding: 60px;
  text-align: center;
  border-radius: 50px;
  border: 10px solid #84a59d;
}

.menu-container--button {
  background-color: #f5cac3;
  padding: 20px;
  border-radius: 50px;
  border: 5px solid #f5cac3;
  transition: all ease 0.3s;
}

.menu-container--button__big {
  margin-top: 20px;
  font-family: "Pixelify Sans", serif;
  font-size: 20px;
  color: #f7ede2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 370px;
}

.menu-container--button:hover {
  background-color: #f6bd60;
  border: 5px solid #f6bd60;
  transform: scale(1.1);
}

.timer--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.timer-container--notification {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7ede2;
  border: #f6bd60 5px dotted;
  position: relative;
}

.finish--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.finish-container--notification {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7ede2;
  border: #f6bd60 5px dotted;
  position: relative;
}

.form-container {
  text-align: left;
}

.form-container--input {
  width: 370px;
  padding: 10px;
  font-family: "Pixelify Sans", serif;
  border-radius: 40px;
  border: 2px dotted #f6bd60;
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 370px;
}

.ingredients-container--text {
  padding: 10px;
  background-color: #f6bd608f;
  border: 3px dotted #f6bd60;
  color: gray;
  font-size: 12px;
  border-radius: 10px;
  margin: 5px;
}

.steps-container {
  padding: 5px;
  width: 370px;
  height: 170px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px 0;
}

.steps-container--text {
  padding: 5px;
  background-color: #f6bd6048;
  border: 3px dotted #f6bd60;
  color: gray;
  border-radius: 10px;
  text-align: left;
}

.receipes-card-container {
  width: 400px;
}

.text-decoration {
  text-decoration: none;
}

.text-decoration:hover {
  text-decoration: underline;
}

.receipe-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #f6bd6048;
  border: 3px dotted #f6bd60;
  color: #f6bd60;
  border-radius: 10px;
  transition: all ease 0.3s;
  text-decoration: none;
  margin-bottom: 10px;
}

.receipe-card:hover {
  transform: scale(1.02);

  border-color: #84a59d;
}

.receipe-name {
  margin: 0;
}

.receipe-category {
  background-color: #f7ede2;
  padding: 3px;
  border: 2px dotted #f6bd60;
  border-radius: 4px;
  margin: 0;
  color: #f5cac3;
}

.receipe-info--container {
  width: 350px;
  padding: 10px;
  border: 3px dotted #f6bd60;
}

.receipe-info--container__text {
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 4px;
  color: #f6bd60;
}

/* Buttons & Properties */
.receipe-edit--button {
  background-color: #84a59d;
  padding: 3px;
  border: 2px solid #84a59d;
  padding: 8px 10px;
  border-radius: 6px;
  margin: 0;
  color: #f7ede2;
  font-family: "Pixelify Sans";
  font-size: 16px;
  display: block;
  margin-top: 10px;
  transition: all ease 0.15s;
}

.receipe-edit--button:hover {
  color: #84a59d;
  background-color: #f7ede2;
}

.egg-container--button {
  background-color: #f5cac3;
  padding: 20px;
  border-radius: 50px;
  border: 5px solid #f5cac3;
  transition: all ease 0.2s;
  cursor: pointer;
}

.egg-container--button:hover {
  background-color: #f6bd60;
  border: 5px solid #f6bd60;
}

.egg-container--button:active {
  border: 5px solid #f6bd60;
  box-shadow: 0 0 10px 4px #f6bd609a, 0 0 20px 8px #f6bd6044;
  transform: scale(1.1);
}

.movement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f6bd60;
  border: 3px solid #f6bd60;
  padding: 10px;
  font-family: "Pixelify Sans", serif;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 0.15s;
}

.movement-button:hover {
  transform: scale(1.1);
}

.counter-container--button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f6bd60;
  border: 3px solid #f6bd60;
  padding: 10px;
  font-family: "Pixelify Sans", serif;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 0.15s;
}

.finish-container--button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f6bd60;
  border: 3px solid #f6bd60;
  padding: 10px;
  font-family: "Pixelify Sans", serif;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 0.15s;
}

.counter-container--button:hover {
  transform: scale(1.1);
}

.finish-container--button:hover {
  transform: scale(1.1);
}

.timer-counter-container--button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f7ede2;
  border: 2px solid #f6bd60;
  color: #f6bd60;
  padding: 10px;
  font-family: "Pixelify Sans", serif;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.timer-counter-container--button:hover {
  background-color: #f6bd60;
  color: #f7ede2;
}

.timer-counter-container--button__selected {
  background-color: #f6bd60;
  color: #f7ede2;
}

.counter-container--button-img {
  width: 30px;
}

.button__close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  color: #f6bd60;
  cursor: pointer;
}

.button__close:hover {
  color: #84a59d;
  font-weight: 600;
  transform: scale(1.1);
}

.button__close-menu {
  background: none;
  border: none;
  font-size: 18px;
  color: #f6bd60;
  cursor: pointer;
  display: block;
  margin-right: 0;
  margin-left: auto;
  text-decoration: none;
}

.button__close-menu:hover {
  color: #84a59d;
  font-weight: 600;
  transform: scale(1.1);
}

.filter-button {
  font-family: "Pixelify Sans";
  background-color: #f5cac3;
  border: 2px dotted #f7ede2;
  color: #f7ede2;
  font-size: 14px;
  transition: all ease 0.15s;
}

.filter-button:hover {
  transform: scale(1.1);
}

.filter-button--selected {
  background-color: #84a59d;
}

/* Font-Size */
.font-size__60 {
  font-size: 60px;
}

.font-size__48 {
  font-size: 48px;
}

.font-size__36 {
  font-size: 36px;
}

.font-size__24 {
  font-size: 24px;
}

.font-size__16 {
  font-size: 16px;
}

/* Colors */
.color__yellow {
  color: #f6bd60;
}

.color__pink {
  color: #f5cac3;
}

.color__white {
  color: #f7ede2;
}

.color__green {
  color: #84a59d;
}

/* Background-colors */
.bg-color__pink {
  background-color: #f5cac3;
}

.bg-color__white {
  background-color: #f7ede2;
}

/* Display */
.display__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.display__flex-top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.display__flex-basic {
  display: flex;
}

.display__flex-right {
  display: flex;
  justify-content: right;
}

.display__flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.display__none {
  display: none;
}

.display__block {
  display: block;
}

.display__inline-block {
  display: inline-block;
}

.align-items__center {
  align-items: center;
}

.gap__10 {
  gap: 10px;
}

/* Viewports */
.viewport__100vh {
  height: 100vh;
}

/* Text-align */
.text-align__left {
  text-align: left;
}

.text-align__center {
  text-align: center;
}

/* Margin */
.margin__0 {
  margin: 0;
}
.margin__15 {
  margin: 15px;
}

.margin__20 {
  margin-top: 20px;
}

.margin--right__20 {
  margin-right: 20px;
}

.margin-top__70 {
  margin-top: 70px;
}

/* Width */

.width-150 {
  width: 300px;
}

/* Animations */
@keyframes movimientoSuave1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes movimientoSuave2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon1 {
  animation: movimientoSuave1 2s ease-in-out infinite;
}

.icon2 {
  animation: movimientoSuave2 2s ease-in-out infinite;
  animation-delay: 1s; /* Esto debería funcionar */
}
